<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="it.spasia.generator"
   name="Bulk Generator Plug-in"
   version="2.0.1"
   provider-name="CNR"
   class="it.spasia.generator.BulkGeneratorPlugin">

   <runtime>
      <library name="BulkGenerator.jar">
         <export name="*"/>
      </library>
      <library name="lib/ojdbc14.jar">
         <export name="*"/>
      </library>
      <library name="lib/postgresql-8.2-506.jdbc4.jar">
         <export
               name="*">
         </export>
      </library>
      <library name="lib/mysql-connector-java-5.1.7-bin.jar">
         <export
               name="*">
         </export>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jdt.ui"/>
   </requires>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="CNR"
            id="it.spasia.generator">
      </category>
      <wizard
            name="Bulk Generator"
            icon="icons/sample.gif"
            category="it.spasia.generator"
            class="it.spasia.generator.wizards.BeanGeneratorWizard"
            id="it.spasia.generator.wizards.BeanGeneratorWizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="it.spasia.generator.preferences.BeanGeneratorPreferencePage"
            id="it.spasia.generator.preferences.BeanGeneratorPreferencePage"
            name="Bulk Generator">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="it.spasia.generator.preferences.BeanGeneratorPreferencePage"
            class="it.spasia.generator.preferences.DatabasePreferencePage"
            id="it.spasia.generator.preferences.DatabasePreferencePage"
            name="Database">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="it.spasia.generator.preferences.BeanGeneratorPreferencePage"
            class="it.spasia.generator.preferences.XMLPreferencePage"
            id="it.spasia.generator.preferences.XMLPreferencePage"
            name="XML">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="it.spasia.generator.preferences.BeanGeneratorPreferencePage"
            class="it.spasia.generator.preferences.TextareaPreferencePage"
            id="it.spasia.generator.preferences.TextareaPreferencePage"
            name="Textarea">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="it.spasia.generator.preferences.BeanGeneratorPreferencePage"
            class="it.spasia.generator.preferences.SQLTypePreferencePage"
            id="it.spasia.generator.preferences.SQLTypePreferencePage"
            name="SQL">
      </page>
   </extension>   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="it.spasia.generator.preferences.BeanGeneratorPreferencePage"
            class="it.spasia.generator.preferences.SQLJavaPreferencePage"
            id="it.spasia.generator.preferences.SQLJavaPreferencePage"
            name="Java">
      </page>
   </extension>   
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="it.spasia.generator.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
